<ion-item-sliding>
    <ion-item-options *ngIf="leftSideLabel" side="start">
        <ion-item-option color="danger">
            {{leftSideLabel}}
        </ion-item-option>
    </ion-item-options>

    <ng-content></ng-content>
    
    <ion-item-options *ngIf="rightSideLabel" side="end">
        <ion-item-option color="success">
            {{rightSideLabel}}
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding>
