<ion-item button (click)="navigateToMaterial()">
    <ion-avatar slot="start">
        <disposer-waste-icon class="material__icon"></disposer-waste-icon>
    </ion-avatar>
    <ion-label>
        <h2>{{material.name}}</h2>
        <p *ngIf="material.description">{{material.description}}</p>
    </ion-label>
</ion-item>
