<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title size="large" *ngIf="category$ | async as category">
            {{category.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngIf="materialsByLetter$ | withLoadingSimple | async as materialGroups">
        <!-- <code>{{ materialGroups | json }}</code> -->

        <ng-template [ngIf]="materialGroups.loading">
            <ion-spinner></ion-spinner>
        </ng-template>

        <ng-template [ngIf]="materialGroups.value">
            <ion-list lines="full" insert="true" style="padding: 0px;">
                <ion-item-group *ngFor="let materialEntry of materialGroups.value | keyvalue">
                    <ion-item-divider sticky>
                        <ion-label>
                            {{materialEntry.key}}
                        </ion-label>
                    </ion-item-divider>

                    <disposer-material *ngFor="let material of materialEntry.value"
                        [material]="material">
                    </disposer-material>
                </ion-item-group>
            </ion-list>
        </ng-template>

        <ng-template [ngIf]="materialGroups.error">
            <disposer-error [error]="materialGroups.error"></disposer-error>
        </ng-template>
    </ng-container>
</ion-content>
