@import "ionic";
@import "border";
@import "flex-layout";
@import "mixins";
@import "spacing";
@import "theme";

.chip-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    &__chip {
        flex: 0 0 auto;
    }
}

.clickable {
    cursor: pointer;
}

.raised {
    box-shadow: 0px 0px 2px var(--ion-color-medium-shade);
}

.results {
    margin: 0% 5%;
}
