.handler {
    &__toolbar {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;

        --background: transparent;

        &-button {
            height: 44px;
            width: 44px;
            
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
        }
        
        &-icon--selected {
            color: var(--ion-color-primary);
        }
    }

    &__title-section {
        padding: unset;
        padding-left: 8px;
    }

    &__title {
        padding: 4px 0px;
    }

    &__sections {
        --border-style: 1px solid black;
    }
}
