<ng-container *ngIf="handler$ | async as handler; else mockSkeletonTemplate">
    <ion-content fullscreen>
        <ion-header translucent class="ion-no-border">
            <ion-toolbar class="handler__toolbar">
                <ion-buttons slot="start">
                    <ion-back-button class="handler__toolbar-button">
                    </ion-back-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button (click)="toggleFavourite()"
                        class="handler__toolbar-button">
                        <ion-icon
                            [class.handler__toolbar-icon--selected]="isFavourite"
                            size="large"
                            [name]="isFavourite ? 'star' : 'star-outline'">
                        </ion-icon>
                    </ion-button>
                    <ion-button class="handler__toolbar-button">
                        <ion-icon size="large" name="menu"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <disposer-handler-photos [handlerImgs]="handlerImgs"></disposer-handler-photos>

        <ion-toolbar color="light" class="handler__title-section" collapse="condense">
            <ion-title class="handler__title">{{handler.dto.name}}</ion-title>
            <ion-label color="medium">
                <p>{{handler.dto.description}}</p>
            </ion-label>
            <ion-chip class="u-m0 u-mb1" color="secondary">Recycler</ion-chip>
        </ion-toolbar>

        <ion-segment (ionChange)="handlerSegmentChanged($event)"
            [value]="handlerSegment"
            class="handler__sections">
            <ion-segment-button value="waste" layout="icon-bottom">
                <ion-label>Waste</ion-label>
                <ion-icon name="trash-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="details" layout="icon-bottom">
                <ion-label>Details</ion-label>
                <ion-icon name="list-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="about" layout="icon-bottom">
                <ion-label>About</ion-label>
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>

        <div [hidden]="handlerSegment !== 'waste'"
            class="handler__waste">
            <disposer-handler-waste [handledWasteIds]="handler.handledMaterialIds">
            </disposer-handler-waste>
        </div>

        <div [hidden]="handlerSegment !== 'details'"
            class="handler__details">
            <disposer-handler-details [handler]="handler"></disposer-handler-details>
        </div>

        <div [hidden]="handlerSegment !== 'about'"
            class="handler__about">
            <disposer-handler-about [handler]="handler"></disposer-handler-about>
        </div>
    </ion-content>
</ng-container>

<ng-template #mockSkeletonTemplate>
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <ion-list>
        <ion-list-header>
            <ion-label>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ng-template>
