<ion-slides pager="true" class="handler-photos" [options]="swiperOptions">
    <ion-slide *ngFor="let handlerImg of handlerImgs">
        <div class="handler-photos__photo">
            <img [src]="handlerImg.url">
        </div>
    </ion-slide>
</ion-slides>
