<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        Hello poppet

        Welcome to Disposer

        We're here to make you dispose and do some good shiz for the world
    </ion-text>

    <hr>

    <ion-item>
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        <ion-label>
            Dark Mode
        </ion-label>
        <ion-toggle (ionChange)="toggleDarkTheme()"></ion-toggle>
    </ion-item>
</ion-content>
