<ion-searchbar [formControl]="searchControl"
    (ionChange)="onSearchInput()"
    (ionClear)="resetSearchTerm()"
    (ionCancel)="onSearchCanceled()"
    [placeholder]="searchPlaceholder"
    enterkeyhint="search"
    animated
    showCancelButton="always">
</ion-searchbar>

<ng-content></ng-content>

<div *ngIf="isSearching" class="search__spinner">
    <ion-spinner color="secondary"></ion-spinner>
</div>
