<ion-item (click)="navigateTo(material)" button>
    <ion-avatar slot="start">
        <disposer-waste-icon class="search-item__avatar"></disposer-waste-icon>
    </ion-avatar>
    <ion-label>
        <h2>{{material.name}}</h2>
        <p *ngIf="material.description">{{material.description}}!</p>
        <div class="chip-container" scrollX="true">
            <ion-chip *ngFor="let category of material.categories"
                class="chip-container__chip"
                disabled>
                <ion-label color="secondary">{{category.name}}</ion-label>
            </ion-chip>
        </div>
    </ion-label>
</ion-item>
