<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Material Categories
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="compositeSearchActive"
                (click)="clearCompositeSearch()">
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
            
            <ion-button (click)="navigateToSearch()">
                <ion-icon *ngIf="!compositeSearchActive"
                    slot="icon-only"
                    name="search">
                </ion-icon>
                <ion-icon *ngIf="compositeSearchActive"
                    class="categories__composite-search"
                    slot="icon-only"
                    name="search-circle">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngIf="categories$ | withLoadingSimple | async as categories">
        <!-- <code>{{ categories | json }}</code> -->

        <ng-template [ngIf]="categories.loading">
            <ion-spinner></ion-spinner>
        </ng-template>

        <ng-template [ngIf]="categories.value">
            <div class="fl-row-center results">
                <disposer-category-tile *ngFor="let category of categories.value"
                    [category]="category"
                    [compositeSearchActive]="compositeSearchActive"
                    (tileSelected)="compositeCategorySearch(category)">
                </disposer-category-tile>
            </div>
        </ng-template>

        <ng-template [ngIf]="categories.error">
            <disposer-error [error]="categories.error"></disposer-error>
        </ng-template>
    </ng-container>

</ion-content>
