<div appLongPress
    [delay]="LONG_PRESS_DELAY"
    (shortClick)="tileClicked(category)"
    (longPressed)="tileLongPressed()"
    [class.category-tile--selected]="_tileSelected"
    class="category-tile fl-column-center raised clickable">
    
    <ng-container *ngIf="!_tileSelected; else longPressIcon">
        <disposer-waste-icon class="category-tile__icon"></disposer-waste-icon>
    </ng-container>
    <ng-template #longPressIcon>
        <ion-icon class="category-tile__selected-icon"
            slot="icon-only"
            name="checkmark-circle-outline">
        </ion-icon>
    </ng-template>

    <div class="category-tile__title">{{category.name}}</div>
</div>
