.category-tile {
    border: 1px var(--ion-color-medium-shade) solid;
    border-radius: 5px;
    min-height: 100px;
    width: 100px;
    margin: 0.5em;

    &__icon {
        width: 100%;
    }

    &--selected {
        color: var(--disposer-accent);
        border-color: var(--disposer-accent);
    }

    &:hover {
        color: var(--disposer-accent);
        border-color: var(--disposer-accent);
        transition: 500ms ease;
    }

    &__selected-icon {
        font-size: 5em;
    }

    &__title {
        text-align: center;
    }
}
