<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Handlers
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-text class="fl-row-center u-px3">
        <p>Showing Waste Handlers within <b>50km</b> of <b>{{searchLocation.name}}</b></p>
    </ion-text>
    <div class="fl-row-center u-px3">
        <ion-button color="secondary" (click)="openSearchOptions()">Change Location</ion-button>
    </div>

    <ng-container *ngIf="handlers$ | withLoadingSimple | async as handlers">
        <ng-template [ngIf]="handlers.loading">
            <ion-spinner>Loading</ion-spinner>
        </ng-template>
    
        <ng-template [ngIf]="handlers.value">
            <disposer-handlers [handlers]="handlers.value"></disposer-handlers>
        </ng-template>
    
        <ng-template [ngIf]="handlers.error">
            <disposer-error [error]="handlers.error"></disposer-error>
        </ng-template>
    </ng-container>    
</ion-content>
