<ion-header translucent>
    <ion-toolbar>
        <ion-title>Material Search</ion-title>
        <ion-buttons slot="start">
            <ion-back-button
                color="warning"
                text="Back"
                defaultHref="/">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-searchbar [formControl]="searchControl"
        (ionChange)="onSearchInput()"
        (ionClear)="resetSearchTerm()"
        (ionCancel)="resetSearchCategoriesAndTerm()"
        [placeholder]="searchPlaceholder"
        enterkeyhint="search"
        animated
        showCancelButton="always">
    </ion-searchbar>

    <div *ngIf="searchCategories.length">
        <ion-chip *ngFor="let cat of searchCategories; let i = index">
            <ion-label>{{cat.name}}</ion-label>
            <ion-icon (click)="removeSearchCategory(i)" name="close-circle-outline"></ion-icon>
        </ion-chip>
    </div>

    <div *ngIf="searching" class="material-search__spinner-container">
        <ion-spinner color="secondary"></ion-spinner>
    </div>

    <ng-container *ngIf="materials$ | async as materials">
        <ion-list>
            <disposer-material-search-item *ngFor="let material of materials; trackBy: trackBy"
                [material]="material">
            </disposer-material-search-item>

            <ion-item *ngIf="!materials.length">
                <ion-label class="material-search__no-results-msg ion-text-wrap">{{noResultsMessage}}</ion-label>
            </ion-item>
        </ion-list>

    </ng-container>

    <ion-infinite-scroll (ionInfinite)="searchMoreMaterials()">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more materials...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
