/* FLEX LAYOUT MIXINS */
/* Row */
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-row-center {
    @include flex-row;
    align-items: center;
}
@mixin flex-row-wrap {
    @include flex-row;
    flex-wrap: wrap;
}

/* Column */
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-column-center {
    @include flex-column;
    align-items: center;
}

/* FLEX LAYOUT GLOBAL CLASSES */
/* Row */
.fl-row {
    @include flex-row();
}
.fl-row-center {
    @include flex-row-center();
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.fl-row-wrap {
    @include flex-row-wrap();
}
.fl-row-spaced {
    justify-content: space-between;
    align-items: center;
}

/* Column */
.fl-column {
    @include flex-column();
}
.fl-column-center {
    @include flex-column-center();
    justify-content: center;
}
