/* Spacing utility class to enforce standard spacing in our application */

$space1: 4px;
$space2: 8px;
$space3: 16px;
$space4: 32px;
$space5: 48px;


/* Basscss Padding */

.u-p0  { padding: 0 }
.u-pt0 { padding-top: 0 }
.u-pr0 { padding-right: 0 }
.u-pb0 { padding-bottom: 0 }
.u-pl0 { padding-left: 0 }
.u-px0 { padding-left: 0; padding-right:  0 }
.u-py0 { padding-top: 0;  padding-bottom: 0 }

.u-p1  { padding:        $space1 }
.u-pt1 { padding-top:    $space1 }
.u-pr1 { padding-right:  $space1 }
.u-pb1 { padding-bottom: $space1 }
.u-pl1 { padding-left:   $space1 }
.u-py1 { padding-top:    $space1; padding-bottom: $space1 }
.u-px1 { padding-left:   $space1; padding-right:  $space1 }

.u-p2  { padding:        $space2 }
.u-pt2 { padding-top:    $space2 }
.u-pr2 { padding-right:  $space2 }
.u-pb2 { padding-bottom: $space2 }
.u-pl2 { padding-left:   $space2 }
.u-py2 { padding-top:    $space2; padding-bottom: $space2 }
.u-px2 { padding-left:   $space2; padding-right:  $space2 }

.u-p3  { padding:        $space3 }
.u-pt3 { padding-top:    $space3 }
.u-pr3 { padding-right:  $space3 }
.u-pb3 { padding-bottom: $space3 }
.u-pl3 { padding-left:   $space3 }
.u-py3 { padding-top:    $space3; padding-bottom: $space3 }
.u-px3 { padding-left:   $space3; padding-right:  $space3 }

.u-p4  { padding:        $space4 }
.u-pt4 { padding-top:    $space4 }
.u-pr4 { padding-right:  $space4 }
.u-pb4 { padding-bottom: $space4 }
.u-pl4 { padding-left:   $space4 }
.u-py4 { padding-top:    $space4; padding-bottom: $space4 }
.u-px4 { padding-left:   $space4; padding-right:  $space4 }

.u-p5  { padding:        $space5 }
.u-pt5 { padding-top:    $space5 }
.u-pr5 { padding-right:  $space5 }
.u-pb5 { padding-bottom: $space5 }
.u-pl5 { padding-left:   $space5 }
.u-py5 { padding-top:    $space5; padding-bottom: $space5 }
.u-px5 { padding-left:   $space5; padding-right:  $space5 }

/* Basscss Margin */

.u-m0  { margin:        0 }
.u-mt0 { margin-top:    0 }
.u-mr0 { margin-right:  0 }
.u-mb0 { margin-bottom: 0 }
.u-ml0 { margin-left:   0 }
.u-mx0 { margin-left:   0; margin-right:  0 }
.u-my0 { margin-top:    0; margin-bottom: 0 }

.u-m1  { margin:        $space1 }
.u-mt1 { margin-top:    $space1 }
.u-mr1 { margin-right:  $space1 }
.u-mb1 { margin-bottom: $space1 }
.u-ml1 { margin-left:   $space1 }
.u-mx1 { margin-left:   $space1; margin-right:  $space1 }
.u-my1 { margin-top:    $space1; margin-bottom: $space1 }

.u-m2  { margin:        $space2 }
.u-mt2 { margin-top:    $space2 }
.u-mr2 { margin-right:  $space2 }
.u-mb2 { margin-bottom: $space2 }
.u-ml2 { margin-left:   $space2 }
.u-mx2 { margin-left:   $space2; margin-right:  $space2 }
.u-my2 { margin-top:    $space2; margin-bottom: $space2 }

.u-m3  { margin:        $space3 }
.u-mt3 { margin-top:    $space3 }
.u-mr3 { margin-right:  $space3 }
.u-mb3 { margin-bottom: $space3 }
.u-ml3 { margin-left:   $space3 }
.u-mx3 { margin-left:   $space3; margin-right:  $space3 }
.u-my3 { margin-top:    $space3; margin-bottom: $space3 }

.u-m4  { margin:        $space4 }
.u-mt4 { margin-top:    $space4 }
.u-mr4 { margin-right:  $space4 }
.u-mb4 { margin-bottom: $space4 }
.u-ml4 { margin-left:   $space4 }
.u-mx4 { margin-left:   $space4; margin-right:  $space4 }
.u-my4 { margin-top:    $space4; margin-bottom: $space4 }

.u-m5  { margin:        $space5 }
.u-mt5 { margin-top:    $space5 }
.u-mr5 { margin-right:  $space5 }
.u-mb5 { margin-bottom: $space5 }
.u-ml5 { margin-left:   $space5 }
.u-mx5 { margin-left:   $space5; margin-right:  $space5 }
.u-my5 { margin-top:    $space5; margin-bottom: $space5 }

.u-mxn1 { margin-left: calc($space1 * -1); margin-right: calc($space1 * -1); }
.u-mxn2 { margin-left: calc($space2 * -1); margin-right: calc($space2 * -1); }
.u-mxn3 { margin-left: calc($space3 * -1); margin-right: calc($space3 * -1); }
.u-mxn4 { margin-left: calc($space4 * -1); margin-right: calc($space4 * -1); }
.u-mxn5 { margin-left: calc($space5 * -1); margin-right: calc($space5 * -1); }

.u-m-auto  { margin: auto; }
.u-mt-auto { margin-top: auto }
.u-mr-auto { margin-right: auto }
.u-mb-auto { margin-bottom: auto }
.u-ml-auto { margin-left: auto }
.u-mx-auto { margin-left: auto; margin-right: auto; }
.u-my-auto { margin-top: auto; margin-bottom: auto; }
