<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Disposer Learn
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Learn some shit</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="section">
        <h3>Latest news</h3>
        <ul>
            <li>The world explodes into 5</li>
            <li>Singapore now waste free</li>
            <li>The Western world learns to recycle finally</li>
            <li>Waste accountabe for 99% of </li>
        </ul>
    </div>
    
    <div class="section">
        <h3>Disposer articles</h3>
        <ul>
            <li>How to make the most out of Disposer</li>
            <li>Try these upcycling tricks</li>
        </ul>
    </div>
    
    <div class="section">
        <h3>Learn by waste</h3>
        <div>Some search bar</div>
        <input placeholder="search some shit" value="">
    </div>
    
</ion-content>
