<ng-container *ngIf="material$ | async as material; else mockSkeletonTemplate">
    <ion-header translucent>
        <ion-toolbar class="material__main-toolbar">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title size="large">{{material.name}}</ion-title>
        </ion-toolbar>
        <ion-toolbar class="material__chip-toolbar">
            <div class="material__chip-container chip-container" scrollX="true">
                <ion-chip *ngFor="let category of material.categories"
                    color="secondary"
                    class="chip-container__chip">
                    <ion-icon name="pin"></ion-icon>
                    <ion-label color="dark">{{category.name}}</ion-label>
                </ion-chip>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <ion-text class="fl-row-center u-px3">
            <p>Waste Handlers for <b>{{material.name}}</b> near <b>{{searchLocation.name}}</b></p>
        </ion-text>
        <div class="fl-row-center u-px3">
            <ion-button color="secondary" (click)="openSearchOptions()">Change Location</ion-button>
        </div>

        <ion-segment (ionChange)="segmentChanged($event)" value="list">
            <ion-segment-button value="list">
                <ion-label>List</ion-label>
                <ion-icon name="list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="map">
                <ion-label>See on map</ion-label>
                <ion-icon name="location"></ion-icon>
            </ion-segment-button>
        </ion-segment>

        <ng-container *ngIf="handlersForMat$ | withLoadingSimple | async as handlers">
            <ng-template [ngIf]="handlers.value">
                <disposer-sliding-item *ngFor="let handler of handlers.value"
                    leftSideLabel="Yogi"
                    rightSideLabel="Prasad">
                    <ion-item routerLink="/handlers/{{handler.dto._id}}">
                        <ion-label [ngClass]="'handler-item--'+handler.dto.handlerType.type">
                            <h2>{{handler.dto.name}}</h2>
                            <p>{{handler.distanceFromUser.distance}}{{handler.distanceFromUser.unit}} away</p>
                        </ion-label>
                        <ion-button>Find out more</ion-button>
                    </ion-item>
                </disposer-sliding-item>
            </ng-template>

            <ng-template [ngIf]="handlers.loading">
                Loading or some shit
            </ng-template>
        </ng-container>

    </ion-content>
</ng-container>

<ng-template #mockSkeletonTemplate>
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <ion-list>
        <ion-list-header>
            <ion-label>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ng-template>
