<ion-header>
    <ion-toolbar>
        <ng-container *ngIf="searching; else defaultView">
            <disposer-handler-waste-searchbar
                searchName="handled waste"
                (searching)="applySearch($event)"
                (searchCanceled)="searchCanceled()">
            </disposer-handler-waste-searchbar>
        </ng-container>
        <ng-template #defaultView>
            <ion-buttons slot="end">
                <ion-button (click)="openSearch()">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Handled Waste</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-list>
    <ng-container *ngIf="handledWastes$ | async as handledWaste; else fillInfo">
        <ion-item *ngFor="let handledMaterial of handledWaste">
            <ion-label>{{handledMaterial.name}}</ion-label>
            <ion-note color="warning" slot="end">Any</ion-note>
        </ion-item>
    </ng-container>
    <ng-template #fillInfo>
        <p>Know something? Please help us add info</p>
        <ion-button>Add Info!</ion-button>
    </ng-template>
</ion-list>
