<!-- <form [formGroup]="form" class="search-bar">
    <input #input
        class="search-bar__input"
        formControlName="query"
        [placeholder]="placeholder" />

    <div class="search-bar__search-icon"></div>
</form> -->

<!-- <ion-searchbar class="search-bar" placeholder="Filter Schedules"></ion-searchbar> -->
