<ion-list class="details">
    <ion-item appLongPress
        (longPressed)="copyAddress()"
        (shortClick)="showInMap()"
        button
        class="details__location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>{{this.locationString}}</ion-label>
    </ion-item>

    <ion-item *ngFor="let contact of handler.dto.contacts"
        appLongPress
        (longPressed)="copyPhone(contact.contact)"
        button
        class="details__contact">
        <ion-icon slot="start" [name]="contactTypeToIcon(contact.contactType)"></ion-icon>
        <ion-label>{{contact.contact}}</ion-label>
    </ion-item>

    <ion-item *ngIf="!handler.dto.contacts?.length" button class="details__add_contact">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label *ngIf="!handler.dto.website"
            (click)="addAWebsite()"
            color="medium">
            <b>+</b> Add a contact
        </ion-label>
    </ion-item>

    <ion-item *ngIf="handler.dto.handlerType.managed" button class="details__website">
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label *ngIf="handler.dto.website">{{handler.dto.website}}</ion-label>
        <ion-label *ngIf="!handler.dto.website"
            (click)="addAWebsite()"
            color="medium">
            <b>+</b> Add a website
        </ion-label>
    </ion-item>
</ion-list>

<ion-list-header>Comments:</ion-list-header>
<ion-list>
    <ion-item *ngFor="let comment of handler.dto.comments" class="details__comment">
        <ion-text>{{comment.comment}}</ion-text>
        <ion-note class="details__comment-source" 
            slot="end" 
            color="secondary">
            {{commentSourceToName(comment.commentSource) | uppercase}}
        </ion-note>
    </ion-item>
</ion-list>
