<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="materials">
            <!-- <ion-icon name="podium"></ion-icon> -->
            <ion-icon name="construct"></ion-icon>
            <ion-label>Materials</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="handlers">
            <ion-icon name="infinite"></ion-icon>
            <!-- <ion-icon name="trash-bin-outline"></ion-icon> -->
            <ion-label>Handlers</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="learn">
            <ion-icon name="school-outline"></ion-icon>
            <ion-label>Learn</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="location"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
