<ion-segment (ionChange)="segmentChanged($event)" value="list">
    <ion-segment-button value="list">
        <ion-label>List</ion-label>
        <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
        <ion-label>See on map</ion-label>
        <ion-icon name="location"></ion-icon>
    </ion-segment-button>
</ion-segment>

<disposer-sliding-item *ngFor="let handler of handlers"
    leftSideLabel="never show again!"
    rightSideLabel="my fav">
    <ion-item routerLink="/handlers/{{handler.dto._id}}">
        <ion-label [ngClass]="'handler-item--'+handler.dto.handlerType.type">
            <h2>{{handler.dto.name}}</h2>
            <p>{{handler.distanceFromUser.distance}}{{handler.distanceFromUser.unit}} away</p>
        </ion-label>
        <ion-button>Find out more</ion-button>
    </ion-item>
</disposer-sliding-item>
