<div style="min-width: 40px;">
    <svg fill="currentColor"
        enable-background="new 0 0 511.962 511.962"
        viewBox="0 0 511.962 511.962"
        xmlns="http://www.w3.org/2000/svg">
        <g>
            <g>
                <g>
                    <path
                        d="m456.6 68.248-5.101-19.937c-5.809-22.705-29.664-36.871-52.4-31.05l-80.524 20.601-2.914-11.39c-4.749-18.561-24.288-30.162-42.871-25.403l-82.62 21.136c-18.562 4.749-30.16 24.287-25.405 42.871l2.914 11.39-39.116 10.007c-5.351 1.368-8.578 6.815-7.209 12.166s6.816 8.579 12.167 7.209l180.323-46.132c.004-.001 90.213-23.08 90.213-23.08 12.176-3.111 24.96 4.486 28.067 16.632l2.622 10.249-356.645 91.241s-3-11.937-3.128-12.87c-.751-5.473-5.797-9.296-11.267-8.548-5.472.751-9.298 5.796-8.547 11.267.229 1.673 6.045 24.796 6.045 24.796 1.156 4.52 5.222 7.523 9.681 7.523.821 0 28.747-7.033 28.747-7.033l26.191 266.996c1.804 18.578 17.152 32.612 35.775 32.795v32.278c0 5.522 4.477 10 10 10h203.266c5.523 0 10-4.478 10-10v-32.278c18.623-.184 33.971-14.217 35.774-32.785l13.489-137.478c.54-5.496-3.479-10.39-8.976-10.929-5.492-.529-10.39 3.479-10.929 8.976l-13.49 137.487c-.816 8.401-7.796 14.737-16.237 14.737h-222.53c-8.44 0-15.421-6.336-16.238-14.747l-26.492-270.068 4.947-1.265h303.173l-4.541 46.282c-.54 5.496 3.479 10.39 8.976 10.929 5.486.528 10.389-3.479 10.929-8.976l5.618-57.259c.564-5.743-4.165-10.977-9.952-10.977h-12.52l-2.339-4.859c-9.084-18.881-28.758-31.253-49.719-31.253-7.482 0-15.07.494-22.249-2.058l97.832-25.029c5.233-1.337 8.551-6.92 7.21-12.164zm-270.806-19.673c2.075-3.501 5.389-5.985 9.332-6.994l82.62-21.137c1.26-.322 2.536-.481 3.803-.481 2.699 0 5.358.723 7.741 2.135 3.501 2.075 5.985 5.389 6.994 9.332l2.914 11.389-112.144 28.69-2.914-11.39c-1.008-3.944-.421-8.043 1.654-11.544zm179.07 443.387h-183.266v-22.266h183.266zm8.943-364.461c11.82 0 23.158 6.175 29.561 16.109h-200.913l106.016-27.089c7.847-2.034 16.219-1.284 23.579 2.114v.001l8.188 3.781c10.789 4.982 21.99 5.084 33.569 5.084z" />
                    <path
                        d="m359.499 365.192c5.114-8.856 5.114-19.433 0-28.29l-18.076-31.308c-2.761-4.782-8.878-6.423-13.66-3.66-4.783 2.762-6.422 8.877-3.66 13.66l18.076 31.308c3.185 5.517-.917 12.435-7.179 12.435h-18.086l.389-.523c3.294-4.433 2.37-10.697-2.063-13.991-4.433-3.293-10.696-2.37-13.991 2.063l-12.25 16.487c-2.585 3.477-2.596 8.38-.04 11.874l12.08 16.486c1.959 2.674 4.996 4.091 8.075 4.091 2.051 0 4.121-.63 5.902-1.935 4.455-3.265 5.42-9.522 2.156-13.977l-.422-.576h18.25c10.227 0 19.385-5.288 24.499-14.144z" />
                    <path
                        d="m190.094 365.192c5.114 8.857 14.272 14.145 24.499 14.145h38.648c5.523 0 10-4.478 10-10s-4.477-10-10-10h-38.648c-6.261 0-10.363-6.918-7.178-12.435l9.348-16.191.174.405c1.625 3.793 5.316 6.065 9.197 6.065 1.313 0 2.649-.261 3.933-.811 5.077-2.176 7.429-8.054 5.254-13.13l-8.039-18.766c-1.707-3.985-5.944-6.457-10.252-6.005l-20.455 2.181c-5.492.585-9.469 5.512-8.884 11.004.585 5.49 5.511 9.474 11.004 8.883l.903-.096-9.503 16.461c-5.115 8.857-5.115 19.433-.001 28.29z" />
                    <path
                        d="m280.889 267.801c-.895 5.45 2.797 10.593 8.248 11.488l20.145 3.308c4.292.701 8.701-1.569 10.613-5.495l9.117-18.344c2.458-4.945.441-10.947-4.504-13.405-4.947-2.46-10.948-.441-13.406 4.505l-.859 1.729-10.947-18.961c-10.693-18.52-38.3-18.528-48.998 0l-19.191 33.24c-2.762 4.783-1.123 10.898 3.66 13.66 4.784 2.763 10.899 1.124 13.66-3.66l19.191-33.24c3.154-5.462 11.204-5.462 14.357 0l9.729 16.851c-5.193-.496-9.957 3.099-10.815 8.324z" />
                    <path
                        d="m437.741 250.482c-2.095-5.024-8.021-7.502-13.06-5.41-5.033 2.089-7.495 8.024-5.41 13.061 2.083 5.031 8.027 7.501 13.06 5.41 5.024-2.088 7.505-8.027 5.41-13.061z" />
                </g>
            </g>
            <g>
                <path
                    d="m98.865 102.927c-2.095-5.024-8.021-7.502-13.06-5.41-5.033 2.089-7.495 8.024-5.41 13.061 2.083 5.031 8.027 7.501 13.06 5.41 5.024-2.088 7.505-8.027 5.41-13.061z" />
            </g>
        </g>
        <use fill="currentColor" fill-rule="non-zero" />
    </svg>
</div>
